<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travel.dao.DestinationDao">

    <resultMap id="destinationResultMap" type="com.example.travel.entity.Destination">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="image" property="image"/>
        <result column="price" property="price"/>
        <result column="description" property="description"/>
        <result column="created_at" property="created_at" />
        <result column="cities" property="cities" typeHandler="com.example.travel.handler.TypeHandler"/>
        <result column="rating" property="rating"/>
        <result column="badgeText" property="badgeText"/>
        <result column="status" property="status"/>
        <result column="isDiscounted" property="isDiscounted"/>
        <result column="update_at" property="updated_at"/>
        <result column="isFeatured" property="isFeatured"/>
    </resultMap>

    <select id="findBySearchAndCategory" resultMap="destinationResultMap">
        SELECT * FROM travel_destination
        <where>
            <if test="searchQuery != null and searchQuery != ''">
                (name LIKE CONCAT('%', #{searchQuery}, '%')
                OR cities LIKE CONCAT('%', #{searchQuery}, '%'))
            </if>
            <if test="category != null and category != '全部'">
                AND category = #{category}
            </if>
        </where>
        LIMIT #{offset}, #{pageSize}
    </select>
    <!--  根据id查询  -->
    <select id="findById" resultMap="destinationResultMap">
        SELECT * FROM travel_destination WHERE id = #{id}
    </select>
    <!--  查询总条数  -->
    <select id="countBySearchAndCategory" resultType="int">
        SELECT COUNT(*) FROM travel_destination
        <where>
            <if test="searchQuery != null and searchQuery != ''">
                (name LIKE CONCAT('%', #{searchQuery}, '%')
                OR cities LIKE CONCAT('%', #{searchQuery}, '%'))
            </if>
            <if test="category != null and category != '全部'">
                AND category = #{category}
            </if>
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insertDestination" parameterType="com.example.travel.entity.Destination">
        INSERT INTO travel_destination (name, category, image, price, cities, description, rating, badgeText, status, isDiscounted, update_at, isFeatured)
        VALUES (
                    #{name},
                    #{category},
                    #{image,jdbcType=VARCHAR},
                    #{price},
                    #{cities, typeHandler=com.example.travel.handler.TypeHandler},
                    #{description,jdbcType=VARCHAR},
                    #{rating,jdbcType=VARCHAR},
                    #{badgeText,jdbcType=VARCHAR},
                    #{status,jdbcType=VARCHAR},
                    #{isDiscounted,jdbcType=VARCHAR},
                    #{updated_at,jdbcType=TIMESTAMP},
                    #{isFeatured,jdbcType=VARCHAR}
               )
    </insert>

    <!-- 修改 -->
    <update id="updateDestination" parameterType="com.example.travel.entity.Destination">
        UPDATE travel_destination
        SET
            name = #{name},
            category = #{category},
            image = #{image,jdbcType=VARCHAR},
            price = #{price,jdbcType=DECIMAL},
            cities = #{cities, typeHandler=com.example.travel.handler.TypeHandler},
            description = #{description,jdbcType=VARCHAR},
            rating = #{rating,jdbcType=VARCHAR},
            badgeText = #{badgeText,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            isDiscounted = #{isDiscounted,jdbcType=VARCHAR},
            update_at = #{updated_at,jdbcType=TIMESTAMP},
            isFeatured = #{isFeatured,jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <select id="exists" resultType="boolean">
        SELECT COUNT(1)
        FROM travel_destination
        WHERE id = #{id}
    </select>
    <delete id="deleteDestination" parameterType="long">
        DELETE FROM travel_destination WHERE id = #{id}
    </delete>

</mapper>